hr {
    display: block;
    height: 20px;
    border: 0;
    border-top: 2px solid red;
    margin: 1em 0;
    padding: 0; 
}
.brand-logo
{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    
    line-height: 40px;

    font-size: 30px;
    
    color: red;
   
    
    
}


.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 25px;
    
}
.give-red
{
    color:red;
}
li{
    padding-right: 30px;
}